
<p>
  <strong>Name:</strong>
  <%= @ip4_network.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @ip4_network.desc %>
</p>

<p>
  <strong>Mask:</strong>
  <%= @ip4_network.mask %>
</p>

<%= link_to 'Edit', edit_ip4_network_path(@ip4_network) %> |
