
<p>
  <strong>Address:</strong>
  <%= @ip4_address.address %>
</p>

<p>
  <strong>Ip4 network:</strong>
  <%= @ip4_address.ip4_network %>
</p>

<%= link_to 'Edit', edit_ip4_address_path(@ip4_address) %> |
