
<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @location.desc %>
</p>

<p>
  <strong>Org:</strong>
  <%= @location.org %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
