<%# add navigation links to this file %>
<li><%= link_to 'Orgs',      orgs_path %></li>
<li><%= link_to 'Locations', locations_path %></li>
<li><%= link_to 'Networks',  ip4_networks_path %></li>
<li><%= link_to 'Addresses', ip4_addresses_path %></li>

